<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HilihDoc</title>
</head>
<body>
    <a href="/doctors/login">Sign In Doctor</a>
    <a href="/patients/login">Sign In Patient</a>
    <a href="/patient/registration">Sign Up Patient</a>
    <br><br>
    <h2>Welcome to HilihDoc</h2>
</body>
</html>