<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

    <a href="/"> Home </a> || <a href="/patients/login"> Login </a> <hr>

    <form action="/patients/registration" method="POST">
        <label for="">Nama</label> <br>
        <input type="text" name="patientName" id=""> <br>
        <label for="">Umur</label> <br>
        <input type="number" name="age" id=""> <br>
        <label for="">Username</label> <br>
        <input type="text" name="username" id=""> <br>
        <label for="">Password</label> <br>
        <input type="password" name="patientPassword" id=""> <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>